<div class='grid h-[300px] py-24 sm:h-[350px] md:py-28'>
  <h1 class='animate-fade-right animate-delay-300 text-2xl font-bold md:text-6xl'>Kenny Nguyen</h1>
  <p class='typewriter text-xl' aria-hidden='true'></p>
  <p class='sr-only'>Front-End Developer</p>
</div>
