---
import Layout from "src/layouts/Layout.astro";
import Projects from "@/components/projects.astro";
import { sanityClient } from "@/utils/sanity-client";
import { projectsOverviewGroq } from "@/sanity/groq/projects-overview";
import type { ProjectsOverview } from "@/sanity/types/projects-overview";

const projectsData: Array<ProjectsOverview> = await sanityClient.fetch(projectsOverviewGroq);
---

<Layout
  title='Kenny N • Projects'
  description="Explore Kenny's collection of projects with detailed description."
>
  <div class='py-24 md:py-28'>
    <Projects {projectsData} />
  </div>
</Layout>
